@media (max-width: 600px) {
  body {
    overflow: visible;
  }
  .bottom-img {
    display: none;
  }
  .top-img {
    display: none;
  }

  //Section A styling for Mobile phones

  #section-a {
    .proof {
      grid-template-columns: 1fr;
      padding-top: 5%;
      grid-gap: 0;
      align-items: center;
      .users-love {
        padding: 0px;
        .title {
          font-size: 45px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 14px;
        }
      }
      .stars {
        width: 468px;
      }
      .item-2 {
        margin-top: 20px;
        margin-left: 0;
      }
      .item-3 {
        margin-top: 20px;
        margin-left: 0;
      }
    }
  }

  //Section B Styling

  #section-b {
    .customer-feedback {
      display: block;
      .feedback {
        width: 400px;
      }
    }
  }
}
